In [18]:
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지
import seaborn as sns
import pandas as pd
df_LetalCars = pd.read_csv('../../datasets/LetalCarOfContractType.csv')
df_LetalCars.head(3)

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0

### 제안 4: 세분화된 마케팅 전략 개발
- 문제 정의: 고객 세분화를 통해 다양한 고객 그룹의 특성을 파악하고, 이를 바탕으로 맞춤형 마케팅 전략을 개발합니다.

- 배경: 고객의 행동과 선호도를 더 잘 이해함으로써, 보다 효과적인 마케팅 캠페인을 수행할 수 있습니다.

- 제품, 은행, 연령대, 계약 날짜를 통해 어떠한 특정달의 계약 비율이 높은지 확인하여 해당 달에 혜택을 주는 이벤트 전략 수립, 
- 특정 달, 계절, 제품 선호도, 은행 선호도등등 파악

In [19]:
df_LetalCars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51304 entries, 0 to 51303
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 51304 non-null  int64
 1   type_of_contract   51300 non-null  object
 2   type_of_contract2  51303 non-null  object
 3   channel            51304 non-null  object
 4   datetime           51304 non-null  object
 5   Term               51304 non-null  int64
 6   payment_type       51304 non-null  object
 7   product            51303 non-null  object
 8   amount             51304 non-null  int64
 9   state              51304 non-null  object
 10  overdue_count      51304 non-null  int64
 11  overdue            51302 non-null  object
 12  credit rating      42521 non-null  float64
 13  bank               48544 non-null  object
 14  cancellation       51279 non-null  object
 15  age                40509 non-null  float64
 16  Mileage            40509 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 6.7+ MB

In [20]:
# 계약날짜
df_LetalCars['datetime'].unique()

array(['2019-10-20', '2019-10-21', '2019-10-22', '2019-10-23',
       '2019-10-24', '2019-10-25', '2019-10-26', '2019-10-27',
       '2019-10-28', '2019-10-29', '2019-10-30', '2019-10-31',
       '2019-11-01', '2019-11-02', '2019-11-03', '2019-11-04',
       '2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
       '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12',
       '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-16',
       '2019-11-17', '2019-11-18', '2019-11-19', '2019-11-20',
       '2019-11-21', '2019-11-22', '2019-11-23', '2019-11-24',
       '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-28',
       '2019-11-29', '2019-11-30', '2019-12-01', '2019-12-02',
       '2019-12-03', '2019-12-04', '2019-12-05', '2019-12-06',
       '2019-12-07', '2019-12-08', '2019-12-09', '2019-12-10',
       '2019-12-11', '2019-12-12', '2019-12-13', '2019-12-14',
       '2019-12-15', '2019-12-16', '2019-12-17', '2019-12-18',
       '2019-12-19', '2019-12-20', '2019-12-21', '2019-12-22',
       '2019-12-23', '2019-12-24', '2019-12-25', '2019-12-26',
       '2019-12-27', '2019-12-28', '2019-12-29', '2019-12-30',
       '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09',
       '2020-01-10', '2020-01-11', '2020-01-12', '2020-01-13',
       '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17',
       '2020-01-18', '2020-01-19', '2020-01-20', '2020-01-21',
       '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
       '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
       '2020-02-03'], dtype=object)

In [21]:
# nan 값 제거하고 유니크한 값 확인
df_LetalCars['bank'].dropna().unique()

#'우리은행', '농협은행', '국민은행', '신한은행', '기업은행', '하나은행'

array(['새마을금고', '현대카드', '우리은행', '농협은행', '국민은행', '롯데카드', '신한은행', '국민카드',
       '우체국', '기업은행', 'SC제일은행', '대구은행', '하나은행', '신한카드', '삼성카드', '광주은행',
       '외환은행', '부산은행', 'BC카드', '씨티은행', '신협중앙회', '경남은행', '미래에셋증권', '외환카드',
       '수협중앙회', '유안타증권', '전북은행', '상호저축은행', '대신증권', '산업은행', '현대증권',
       '산림조합중앙회', '제주은행', '삼성증권', '하나대투증권', 'SK증권', '수협카드', '한국투자증권',
       '신한금융투자', '하나SK', 'NH농협카드', '메리츠종합금융증권', '하이투자증권', '우리카드', '대우증권',
       '씨티카드'], dtype=object)

In [22]:
df_LetalCars['bank'].value_counts()
df_LetalCars['bank'].describe()

count     48544
unique       46
top        국민은행
freq       9901
Name: bank, dtype: object

In [23]:
# sns.countplot(data = df_LetalCars, x ='bank')
# plt.show()

### 은행이용 분포 확인 (6개만)
- 기준 1 (계약날짜)
    + 계약날짜 : 

- 기준 2 (이용 은행)
    + 이용 은행 : '우리은행', '농협은행', '국민은행', '신한은행', '기업은행', '하나은행'

- 확인 방법
    + 기준 1에 해당되는 데이터를 가지고 기준 2에 해당하는 항목 매칭
    + 기준별 차트 출력

- 인사이트 :

In [24]:
# 기준 1 (계약날짜)
conditions_datetime = 
# 기준 2 (은행)
conditions_우리은행 = 'bank == "우리은행"'
conditions_농협은행 = 'bank == "농협은행"'
conditions_국민은행 = 'bank == "국민은행"'
conditions_신한은행 = 'bank == "신한은행"'
conditions_기업은행 = 'bank == "기업은행"'
conditions_하나은행 = 'bank == "하나은행"'

SyntaxError: invalid syntax (4084457925.py, line 2)

In [9]:
# 연령별 은행 사용 분포
df_LetalCars_age_우리은행 = df_LetalCars.query(f"{conditions_datetime} and {conditions_우리은행}") 
df_LetalCars_age_농협은행 = df_LetalCars.query(f"{conditions_datetime} and {conditions_농협은행}") 
df_LetalCars_age_국민은행 = df_LetalCars.query(f"{conditions_datetime} and {conditions_국민은행}") 
df_LetalCars_age_신한은행 = df_LetalCars.query(f"{conditions_datetime} and {conditions_신한은행}") 
df_LetalCars_age_기업은행 = df_LetalCars.query(f"{conditions_datetime} and {conditions_기업은행}") 
df_LetalCars_age_하나은행 = df_LetalCars.query(f"{conditions_datetime} and {conditions_하나은행}")

In [10]:
#연령별 은행 사용 분포 확인
bins = [20,30,40,50,60]
labels = ['20-29','30-39','40-49','50-59']
df_LetalCars_age_우리은행[]

SyntaxError: invalid syntax (325158143.py, line 4)