### 제안 2: 지역별 만족도 차이 분석
- 문제 정의: 평균 만족도(avg_satisfaction)와 표준 편차(std_satisfaction)를 기반으로 지역(region)별 만족도 수준과 분포의 차이를 분석합니다.
- 배경: 특정 지역의 만족도 격차를 이해하면 지역 맞춤형 정책을 설계하는 데 유용합니다.

#### 분석을 위한 전체 흐름
- 1. 데이터 확인 : info(), describe(), head() 로 확인, 만족도와 지역관련 컬럼을 확인
- 2. 필요한 데이터 추출 : 분석에 필요한 컬럼(평균 만족도(avg_satisfaction), 표준 편차(std_satisfaction),지역(region))만 추출
- 3. 지역별 평균과 표준편차 계산: 그룹화(groupby)를 통해 지역별 만족도 데이터를 요약
- 4. 시각화 : Seaborn 과 Matplotlib을 이용해 지역별 만족도 수준과 분포를 그래프로 시각화.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지
import seaborn as sns

df_happyscore = pd.read_csv('../../datasets/happyscore_income.csv')
df_happyscore.head(3)

,country,adjusted_satisfaction,avg_satisfaction,std_satisfaction,avg_income,median_income,income_inequality,region,happyScore,GDP,country.1
0,Armenia,37.0,4.9,2.42,2096.76,1731.506667,31.445556,'Central and Eastern Europe',4.350,0.76821,Armenia
1,Angola,26.0,4.3,3.19,1448.88,1044.240000,42.720000,'Sub-Saharan Africa',4.033,0.75778,Angola
2,Argentina,60.0,7.1,1.91,7101.12,5109.400000,45.475556,'Latin America and Caribbean',6.574,1.05351,Argentina

In [6]:
df_happyscore.info(),df_happyscore.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                111 non-null    object
 1   adjusted_satisfaction  111 non-null    float64
 2   avg_satisfaction       111 non-null    float64
 3   std_satisfaction       111 non-null    float64
 4   avg_income             111 non-null    float64
 5   median_income          111 non-null    float64
 6   income_inequality      111 non-null    float64
 7   region                 111 non-null    object
 8   happyScore             111 non-null    float64
 9   GDP                    111 non-null    float64
 10  country.1              111 non-null    object
dtypes: float64(8), object(3)
memory usage: 9.7+ KB

(None,
        adjusted_satisfaction  avg_satisfaction  std_satisfaction  \
 count             111.000000        111.000000        111.000000
 mean               48.729730          5.936937          2.124595
 std                12.364131          1.356394          0.316546
 min                19.000000          2.500000          1.380000
 25%                40.000000          5.100000          1.910000
 50%                48.000000          6.000000          2.130000
 75%                57.000000          7.000000          2.330000
 max                74.000000          8.500000          3.190000

          avg_income  median_income  income_inequality  happyScore         GDP
 count    111.000000     111.000000         111.000000  111.000000  111.000000
 mean    6442.751416    5186.005304          38.417805    5.421910    0.841909
 std     6479.533692    5587.037239           8.375557    1.180801    0.387591
 min      572.880000     415.480000          24.215000    2.839000    0.015300
 25%     1519.388684    1167.717333          32.182857    4.568000    0.509930
 50%     3889.320000    2646.973333          36.480000    5.268000    0.918610
 75%     7867.402500    6581.124643          43.380000    6.392000    1.149485
 max    26182.275000   22240.230000          63.726667    7.587000    1.563910  )

In [13]:
df_happyscore.columns

Index(['country', 'adjusted_satisfaction', 'avg_satisfaction',
       'std_satisfaction', 'avg_income', 'median_income', 'income_inequality',
       'region', 'happyScore', 'GDP', 'country.1'],
      dtype='object')

In [12]:
# 만족도와 지역 관련 데이터 확인
df_happyscore_data = df_happyscore[['avg_satisfaction','std_satisfaction', 'region']]
df_happyscore_data

     avg_satisfaction  std_satisfaction                         region
0                 4.9              2.42   'Central and Eastern Europe'
1                 4.3              3.19           'Sub-Saharan Africa'
2                 7.1              1.91  'Latin America and Caribbean'
3                 7.2              2.11               'Western Europe'
4                 7.6              1.80    'Australia and New Zealand'
..                ...               ...                            ...
106               7.0              2.13  'Latin America and Caribbean'
107               6.1              1.77            'Southeastern Asia'
108               6.3              2.47           'Sub-Saharan Africa'
109               5.0              2.61           'Sub-Saharan Africa'
110               4.1              2.16           'Sub-Saharan Africa'

[111 rows x 3 columns]

In [ ]:
df_happyscore_data.groupby()