In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
import numpy as np
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지
import scipy.stats as stats

df_kbi = pd.read_csv('../../datasets/성인 인구조사 소득 예측.csv')
df_kbi.head(3)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

### 범주형 / 연속형 : 범주형 따른 관계 확인

### 예비 가설
- 가설 직업군(occupation) 중 전문직(Prof-specialty)과 기술직(Craft-repair)의 주당평균 일하는 시간(hours_per_week)의 차이가 있는지?
    + 귀무 가설 : 
    + 대립 가설 : 
- 결론 도출 :

In [2]:
# df_kbi['hours_per_week'].value_counts()
# df_kbi['occupation'].value_counts()
df_kbi['occupation'].value_counts().iloc[:2]

occupation
Prof-specialty    4140
Craft-repair      4099
Name: count, dtype: int64

In [3]:
conditions = 'occupation == "Prof-specialty"'
df_kbi_occuption_first = df_kbi.query(conditions).dropna()
len(df_kbi_occuption_first)

4038

In [4]:
conditions = 'occupation == "Craft-repair"'
df_kbi_occuption_two = df_kbi.query(conditions).dropna()
len(df_kbi_occuption_two)

4030

In [5]:
# 정규분포 여부 확인 : channel - 서비스 방문, 홈쇼핑/방송

conditions = 'occupation in ("Prof-specialty","Craft-repair")'
df_kbi_occuption_ft = df_kbi.query(conditions)
len(df_kbi_occuption_ft)

8239

In [6]:
results = stats.anderson(df_kbi_occuption_ft['hours_per_week']) # 정규분포
results

AndersonResult(statistic=559.5337543849546, critical_values=array([0.576, 0.656, 0.787, 0.918, 1.091]), significance_level=array([15. , 10. ,  5. ,  2.5,  1. ]), fit_result=  params: FitParams(loc=42.34567301857022, scale=10.941830810082205)
 success: True
 message: '`anderson` successfully fit the distribution to the data.')

In [7]:
results.significance_level, results.critical_values

(array([15. , 10. ,  5. ,  2.5,  1. ]),
 array([0.576, 0.656, 0.787, 0.918, 1.091]))

In [8]:
stats.shapiro(df_kbi_occuption_ft)

ShapiroResult(statistic=nan, pvalue=nan)

In [9]:
# 5000개 이하 임으로 shapiro Test 를 써야 하지 않을까?

Object `않을까` not found.