### 연속형 / 연속형

In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
import numpy as np
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지
import scipy.stats as stats

df_kbi = pd.read_csv('../../datasets/성인 인구조사 소득 예측.csv')
df_kbi.head(3)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [11]:
df_kbi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   gender          32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

### 분석
- 가설 : 교육횟수에 따른 주당 일 시간 변화가 있는가?
    + 귀무가설 : 교육 횟수에 따른 주당 일 시간 변화가 없다
    + 대립가설 : 교육 횟수에 따른 주당 일 시간 변화가 있다
- 대상 변수 : education_num , hours_per_week
- 분석 결과
    + 통계 결론 : 귀무가설 성립 (pvalue=4.2366 pvalue 가 0.05를 넘음으로)
    + 사실 결론 : 교육횟수에 따른 주당 일 시간 변화가 없다.

In [12]:
df_kbi[['education_num','hours_per_week']].isna().sum()

education_num     0
hours_per_week    0
dtype: int64

In [13]:
df_kbi[['education_num','hours_per_week']].corr()
# 예상은 관계가 있다.

                education_num  hours_per_week
education_num        1.000000        0.148123
hours_per_week       0.148123        1.000000

In [14]:
stats.pearsonr(df_kbi['education_num'].dropna(), df_kbi['hours_per_week'].dropna())

PearsonRResult(statistic=0.14812273262291165, pvalue=4.236647479010242e-159)